DISCORD_TOKEN=your_discord_bot_token
DISCORD_CLIENT_ID=your_application_client_id
DISCORD_GUILD_ID=your_test_guild_id

API_PORT=3000
JWT_SECRET=CtanrS5uh2gCuzW@*ECu
ADMIN_DISCORD_IDS=302763009309409283,801537892907614298
MEMBER_ROLE_ID=your_member_role_id
SCRIPT_LOADER_URL=https://discord-key-auth-production.up.railway.app/UniversalAdmin.lua
JOIN_LOGS_CHANNEL_ID=1494373966071201843
LOGIN_LOGS_CHANNEL_ID=1494374135365767228

DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME?schema=public"
